@import './variable.less';
html,
body,
p,
div {
    margin: @margin;
    padding: @padding;
}
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}
a {
    color: #000;
    text-decoration: none; /*超链接无下划线*/
}
a:link,
a:visited {
    text-decoration: none; /*超链接无下划线*/
}
