.round(@d) {
    width: @d;
    height: @d;
    border-radius: 50%;
}
// 定位位置
.position1(@left:0,@top:0) {
    position: absolute;
    left: @left;
    tio: @top;
}
.position2(@right:0,@bottom:0) {
    position: absolute;
    right: @right;
    bottom: @bottom;
}
// 图片大小
.imgsize() {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
// 鼠标移入 透明度动画
.opacity() {
    animation: 1s fadeIn forwards;
}
.fadeIn() {
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
// 两行 后省略
.twoline(@size:18px,@height:28px) {
    font-size: @size;
    line-height: @height;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.flex-center(@direction:row,@justify:center,@wrap:nowrap) {
    display: flex;
    flex-direction: @direction;
    align-items: center;
    justify-content: @justify;
    flex-wrap: @wrap;
}
